
/*--------------
|    body       |
---------------*/
html{
    
    scroll-behavior: smooth;
    
}


.main-bg{
    background-color: $green-ball;
    // overflow-x: hidden;
    
}

p, h1, h2 ,h3, h4, h5, h6, a{
    text-decoration: none;
    color: $white-typo;
    
}
h1, h2 ,h3, h4, h5, h6{
    font-family: $bree-serif;
}
p{
    
    font-family: $roboto-bold;
    
}

.description{
    h2{
        text-align: center;
        font-size: 2rem;
        padding-bottom: 1rem;
    }
    h3{
        text-align: left;
        font-size: 1.5rem;
        padding-bottom: 1.5rem;
    }
    p{
        text-align: justify;
        font-size: 1.5rem;
    }
}


/*--------------
|    header     |
---------------*/

.header{
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding:0 16px 0 16px;
    background: $blue-main;
    color: #fff;
    position: fixed;
    width: 100%;
    top: 0;
    margin-bottom: 29px;
    box-shadow: 0px 5px 50px $green-ball-hard;
}
.logo{
    height: 40px;
    width: 40px;

    img{
        height: 40px;
        width: 40px;
    }
}

.menu-check{
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
}
.menu-check:checked ~ label .hamburguesa{
    display: none;
}
.menu-check:checked ~ label .closed,
.menu-check:checked ~ .menu{
    display: block;
    box-shadow: 0px 5px 20px $blue-main;
    
}
.closed, .hamburguesa{
    box-shadow: none !important;
}
.closed,
.menu{
    display: none;
}
.hamburguesa, .closed{
    font-size: 20px
}
.menu{
    position: absolute;
    list-style-type: none;
    top: 60px;
    left: 0;
    background: $blue-main-hard;
    width: 100%;
    

    a:hover{
        
        border-bottom: $white-typo 5px solid;
        transition: .2s ease-in-out; 
        outline: 0;
    }
    a:active{
        
        border-bottom: $orange-dust 6px solid;
        transition: .4s ease-in-out; 
        outline: 0px;
        
    }
}
.menu :is(a){
    display: flex;
    color: $white-typo;
    font-family: $roboto-bold;
    font-size: 1.2rem;
    text-decoration: none;
    padding: 16px 0 24px 16px;
    
}



/*--------------
|   sections    |
---------------*/

//logo section

.logo-sect{
    margin-top: 10rem;
    margin-bottom: 10rem;
    .container{
        display: flex;
        justify-content: center;
        .main-logo{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 70%;
            height: 16rem;
            border-radius: 5rem;
            background-color: $blue-main-hard;
            img{
                position: absolute;
                display: block;
                width: 400px;
                padding: 3rem;
                
            }
        }
    }
}


//description-section
  
.description-sect{
    margin-bottom: 40rem;
    overflow-x: hidden;
    .container{
        margin: 0 4rem;
        padding-top: 4em;
        display: flex;
        flex-direction: column;
        align-items: center;
        .bg-blue{
            @include bg-blue;
        }
        .box:nth-of-type(2){
            padding-top: 8rem;
        }
        .box{
            margin: 0 3rem;
            z-index: 1;
            position: relative;
            padding-top: 1em;
            padding-bottom: 2em;
            width: 100%;
            max-width: 1000px;

            .description{
                h2{
                    text-align: center;
                    font-size: 2rem;
                    padding-bottom: 1rem;
                }
                p{
                    text-align: justify;
                    font-size: 1.5rem;
                }
            }
            
        }
        .box:nth-of-type(4){
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            
            padding-top: 8rem;
            max-width: 1400px;
           
            .main-photo{
                width: 17rem;
                height: 17rem;
                border-radius: 8.5rem;
                background-color: #fff;
                margin-top: 3rem;
            }
        }
    }
    
       
       
}

//course section

.course-sect{
    padding-top: 10rem;
    .container{
        margin: 0 0.5rem;
        .bg-orange-box{
            display: grid;
            grid-template-columns: 5% 90% 5%;
            grid-template-rows: 5% 90% 5%;
            width: 100%;
            height: 100%;
            min-height: 100rem;
            background-color: #ff2d1a;
            border-radius: 60px;
            .horizontal-box{
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 3rem;
                width: 100%;
                grid-column: 2;
                grid-row: 1;
                // border-bottom:  1rem $white-typo solid;
                
                // height: 9rem;
            }
            .horizontal-box:nth-of-type(2){
                grid-row: 3;
                // border-top: 1rem $white-typo solid;
                border-bottom: none;
                
            }
            .vertical-box{
                
                grid-column: 3;
                grid-row: 2;
                border-top: 1rem $white-typo solid;
                border-bottom: 1rem $white-typo solid;
                // width: 13rem;
            }
            .vertical-box:nth-of-type(5){
                grid-column: 1;
            }
            .box{

                grid-column: 2;
                grid-row: 2;
                &.course{
                    
                    padding: 3.5rem 1.5rem;
                    border-top: 1rem $white-typo solid;
                    border-bottom: 1rem $white-typo solid;
                    height: 100%;
                    display: flex;
                    
                    margin-bottom: 20rem;
                    justify-content: center;
                    flex-wrap: wrap;
                    .description{
                        width: 100%;
                        max-width: 40rem;
                        min-width: 10rem;
                        padding-bottom: 4rem;
                    }
                    .main-logo{
                        &.ball{
                            width: 14rem;
                            height: 14rem;
                            border-radius: 7rem;
                            background-color: $green-ball-hard;
                            margin-bottom: 5rem;
                        }
                    }
                }
            }
        }
    }
}

//info section

.info-sect{
    .container{
        margin: 10rem 0 30rem;
        
        display: flex;
        
        align-items: center;
        flex-direction: column;
        
        .bg-blue{

            @include bg-blue;
            height: 105rem;
            left: 0;
        }
        ´.places-card, h2, h1 {
            z-index: 2;
            padding-top: 10rem;
        }
        h1{
            font-size: 2rem;
        }
        .places-card{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            border: 0.5rem $white-typo solid;
            margin-top: 5rem;
            width: 100%;
            height: 100%;
            min-width: 20rem;
            z-index: 2;
            .places{
                width: 100%;
                height: 100%;
                min-width: 200px;
                max-width: 250px;
                min-height: 200px;
                max-height: 400px;
                border: #2f2f2f solid 2px;
            }
        }
        .info{
            padding-top: 5rem;
            text-align: center;
            display: flex;
            flex-direction: column;
            h1{
                padding-top: 2.5rem;
                
            }
            .call{
                
                padding: 5rem;
                width: 100%;
                height: 100%;
                min-width: 300px;
                max-width: 600px;
                min-height: 400px;
                max-height: 600px;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
                h1{
                    
                    a{
                        background-color: $green-ball;
                        margin:0 5rem 0 5rem;
                        padding: 1rem 4rem;
                        border-radius: 1.5rem;
                        
                    }
                }
               
                
            }

        }
    }
}

//emblem section

.emblem-sect{
    margin-top: 10rem;
    margin-bottom: 10rem;
    .container{
        display: flex;
        justify-content: center;
        .main-logo{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 95%;
            height: 25rem;
            border-radius: 5rem;
            background-color: $blue-main-hard;
            img{
                position: absolute;
                display: block;
                width: 400px;
                padding: 3rem;
                
            }
        }
    }
}


/*--------------
|    footer     |
---------------*/

.footer{
    z-index: 2;
    
    width: 100%;
    position: relative;
    .container{
        width: 100%;
        height: 160px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $blue-main;
        box-shadow: 0px -10px 50px $green-ball-hard;

        .box{
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px 0 20px 0;
            &.icon-sect, &.rights{
               width: 300px;  
            }
            &.icon-sect{
                p{
                    padding-bottom: 6px;
                }
                .icons{            
                    a{
                        width: 20px;
                        height: 20px;
                        text-decoration: none;
                        color: $white-typo;
                        margin: 22px 9px;

                    }
                    a:hover{
                        color: $orange-dust;
                        
                    }
                }
            }
        }
    }
}

