
/*--------------
|    body       |
---------------*/


.main-bg{
    background-color: $green-ball;
    overflow-x: hidden;
}

p, h1, h2 ,h3, h4, h5, h6{
    color: $white-typo;
    
}
h1, h2 ,h3, h4, h5, h6{
    font-family: $bree-serif;
}
p{
    
    font-family: $roboto-bold;
    
}


/*--------------
|    header     |
---------------*/

.header{
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding:0 16px 0 16px;
    background: $blue-main;
    color: #fff;
    position: sticky;
    top: 0;
    margin-bottom: 29px;
    box-shadow: 0px 5px 50px $green-ball-hard;
}
.logo{
    height: 24px;
    width: 24px;
    border-radius: 12px;
    background-color: $green-ball;
}

.menu-check{
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
}
.menu-check:checked ~ label .hamburguesa{
    display: none;
}
.menu-check:checked ~ label .closed,
.menu-check:checked ~ .menu{
    display: block;
    box-shadow: 0px 5px 20px $orange-dust-shadow-light;
    
}
.closed, .hamburguesa{
    box-shadow: none !important;
}
.closed,
.menu{
    display: none;
}
.hamburguesa, .closed{
    font-size: 20px
}
.menu{
    position: absolute;
    list-style-type: none;
    top: 60px;
    left: 0;
    background: $orange-dust;
    width: 100%;
    

    a:hover{
        text-decoration: underline $white-typo 3px solid;
        transition: .2s ease-in-out; 
        outline: 0;
    }
    a:active{
        text-decoration: underline $blue-main 4px solid;
        transition: .4s ease-in-out; 
        outline: 0px;
        border: 5px $green-ball solid;
    }
}
.menu :is(a){
    display: flex;
    color: $white-typo;
    font-family: $roboto-bold;
    font-size: 1.2rem;
    text-decoration: none;
    padding: 16px 0 24px 16px;
    
}



/*--------------
|   sections    |
---------------*/

//logo section

.logo-sect{
    margin-top: 25em;
    margin-bottom: 10em;
    .container{
        display: flex;
        justify-content: center;
        .main-logo{
            width: 400px;
            height: 400px;
            background-color: $orange-dust;
            
        }
    }
}


//description-section
  
.description-sect{
    .container{
        margin: 0 3rem;
        padding-top: 4em;
        display: flex;
        flex-direction: column;
        
        align-items: center;
        .bg-blue{
            overflow: hidden;
            display: block;
            position: absolute;
            height: 100rem;
            width: 100%;
            min-width: 800px;
            background-color: $blue-main;
            z-index: 0;
            transform: rotate(-5deg);
            left: 0;
            border-radius: 60px;
            margin: 0; 
            
        }
        .box:nth-of-type(2){
            padding-top: 8rem;
        }
        .box{
            margin: 0 3rem;
            z-index: 1;
            position: relative;
            padding-top: 1em;
            padding-bottom: 2em;
            width: 100%;
            max-width: 1000px;

            .description{
                h2{
                    text-align: center;
                    font-size: 2rem;
                    padding-bottom: 1rem;
                }
                p{
                    text-align: justify;
                    font-size: 1.5rem;
                }
            }
            
        }
        .box:nth-of-type(4){
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            
            padding-top: 8rem;
            max-width: 1400px;
           
            .main-photo{
                width: 24rem;
                height: 24rem;
                border-radius: 12rem;
                background-color: #fff;
                margin-top: 3rem;
            }
        }
    }
    
       
       
}





/*--------------
|    footer     |
---------------*/

.footer{
    z-index: 2;
    
    width: 100%;
    position: relative;
    .container{
        width: 100%;
        height: 160px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $blue-main;
        box-shadow: 0px -10px 50px $green-ball-hard;

        .box{
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px 0 20px 0;
            &.icon-sect, &.rights{
               width: 300px;  
            }
            &.icon-sect{
                p{
                    padding-bottom: 6px;
                }
                .icons{            
                    a{
                        width: 20px;
                        height: 20px;
                        text-decoration: none;
                        color: $white-typo;
                        margin: 22px 9px;

                    }
                    a:hover{
                        color: $orange-dust;
                        
                    }
                }
            }
        }
    }
}

