//colors

$blue-main: #1a54ff;
$blue-main-hard: #1720f9; 
$orange-dust: #ff531a;
$orange-dust-shadow: #cd3300;
$orange-dust-hard: #df3d02;
$orange-dust-shadow-light: #e63900;
$orange-dust-light: #ff4000;
$green-ball: #1aff53;
$green-ball-hard: #bff000;
$green-shadow: #078e00;
$white-typo: #fff;

  
//fonts

$roboto-bold: 'roboto', 'sans serif';
$bree-serif: 'bree serif', 'sans serif';
