//colors

$blue-main: #1720F9;
$orange-dust: #FF4000;
$green-ball: #bff000;
$green-shadow: #078e00;
$white-typo: #fff;


//fonts

$roboto-bold: 'roboto', 'sans serif';
$bree-serif: 'bree serif', 'sans serif';
