

/*--------------
|    header     |
---------------*/

//desktop
@media(min-width:1280px){
    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 80px;
        padding:0 100px 0 100px;
        position: sticky;
        top: 0;
        
    }
    .hamburguesa, .menu-check:checked{
        display: none;
    }
    .logo{
        height: 36px;
        width: 36px;
        border-radius: 18px;
    }
    .menu{
        display: inline-flex;
        position: relative;
        top: -5px;
        left: auto;
        background:transparent;
        width: 100%;
        
   
    a:active{
        text-decoration: underline $orange-dust 4px solid;
        transition: .4s ease-in-out; 
        outline: 0;
        border: 0;
    }
    }
    .menu :is(a){
        display: inline-block;        
        text-decoration: none;
        padding: 16px;
    }
 
}

/*--------------
|   sections    |
---------------*/

//description-section

@media(min-width: 10px){
    .description-sect{
        .container{
            margin: 0 2rem;
            .bg-blue{
                height: 120rem;
                transform: rotate(0);
            }
        }
    }

}
@media(min-width: 440px){
    .description-sect{
        .container{
            margin: 0 3rem;
            .bg-blue{
                height: 95rem;
                transform: rotate(0);
            }
        }
    }

}
@media(min-width: 1280px){
    .description-sect{
        .container{
            .bg-blue{
                height: 80rem;
                transform: rotate(-5deg);               
            }
            .box:nth-of-type(4){
                display: flex;
                flex-direction: row-reverse;
                flex-wrap: wrap;
                .description{
                    width: 30rem;
                }
                .main-photo{
                    align-items: center;
                    margin-top: 0;
                    margin-right: 10rem;
                    width: 24rem;
                    height: 24rem;
                    border-radius: 12rem;
                }
            }
        }
    }
}


