

/*--------------
|    header     |
---------------*/

//desktop
@media(min-width:1280px){
    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 80px;
        padding:0 100px 0 100px;
        
        top: 0;
        
    }
    .hamburguesa, .menu-check:checked{
        display: none;
    }
    .logo{
        
        height: 50px;
        width: 50px;
        img{
            height: 50px;
            width: 50px;
        }
        

    }
    .menu{
        display: inline-flex;
        position: relative;
        top: -5px;
        left: auto;
        background:transparent;
        width: 100%;
        
   
    a:active{
        
        border-bottom: $orange-dust 6px solid;
        transition: .4s ease-in-out; 
        outline: 0;
        
    }
    }
    .menu :is(a){
        display: inline-block;        
        text-decoration: none;
        padding: 16px 20px;
    }
 
}

/*--------------
|   sections    |
---------------*/

//logo section

@media(min-width: 400px){
    .logo-sect{
        margin-top: 20rem;
        margin-bottom: 20rem;
        .container{
            display: flex;
            justify-content: center;
            .main-logo{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 70%;
                height: 25rem;
                border-radius: 5rem;
                background-color: $blue-main-hard;
                img{
                    position: absolute;
                    display: block;
                    width: 100%;
                    padding: 3rem;
                    min-width: 150px;
                    max-width: 900px;
                }
            }
        }
    }
    .emblem-sect{
        margin-top: 20rem;
        margin-bottom: 20rem;
        .container{
            display: flex;
            justify-content: center;
            .main-logo{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 70%;
                height: 25rem;
                border-radius: 5rem;
                background-color: $blue-main-hard;
                img{
                    position: absolute;
                    display: block;
                    width: 100%;
                    padding: 3rem;
                    min-width: 150px;
                    max-width: 600px;
                }
            }
        }
    }
    
}

//description-section

@media(min-width: 10px){
    .description-sect{
        .container{
            margin: 0 2rem;
            .bg-blue{
                height: 125rem;
                transform: rotate(0);
            
            }
            .box:nth-of-type(2){
                padding-top: 5rem;
            }
        }
    }

}
@media(min-width: 440px){
    .description-sect{
        .container{
            margin: 0 3rem;
            .bg-blue{
                height: 95rem;
                transform: rotate(0);
            }
        }
    }

}
@media(min-width: 1280px){
    .description-sect{
        .container{
            .bg-blue{
                height: 80rem;
                transform: rotate(-5deg);               
            }
            .box:nth-of-type(4){
                display: flex;
                flex-direction: row-reverse;
                flex-wrap: wrap;
                .description{
                    width: 30rem;
                }
                .main-photo{
                    align-items: center;
                    margin-top: 0;
                    margin-right: 10rem;
                    width: 24rem;
                    height: 24rem;
                    border-radius: 12rem;
                }
            }
        }
    }
}


//courses section

@media(min-width:700px){
    .course-sect{
        .container{
            margin: 0 2.5rem;
            .bg-orange-box{
                .box{
                    &.course{
                        border: 1rem $white-typo solid;
                        .description{
                            padding-right: 3rem;
                        }
                    }
                }
            }
        }
    }
}



@media(min-width:1100px){
    .course-sect{
        .container{
            .bg-orange-box{
                .box{
                    &.course{
                        border: 1rem $white-typo solid;
                        .description{
                            padding-right: 3rem;
                            
                        }
                        .description:nth-of-type(7){
                            padding-top: 20rem;
                        }
                    }
                }
            }
        }
    }
}


//info section

@media(min-width: 100px){
    .info-sect{
        .container{
            .bg-blue{
                height: 140rem;
                left: 0;
                              
            }
        }
    }
}

@media(min-width: 517px){
    .info-sect{
        .container{
            .bg-blue{
                height: 100rem;
                left: 0;
                              
            }
        }
    }
}



@media(min-width: 1280px){
    .info-sect{
        .container{
            .bg-blue{
                width: 150rem;
                left: -5rem;
                height: 95rem;
                transform: rotate(5deg);               
            }
           
        }
    }
}
@media(min-width: 700px){
    .info-sect{
        .container{
            .info{
                .call{
                    padding: 3rem;
                }
            }
           
        }
    }
}



