* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/*--------------
|    header     |
---------------*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 16px 0 16px;
  background: #1720F9;
  color: #fff;
  position: sticky;
  top: 0;
  margin-bottom: 29px;
  box-shadow: 0px 5px 50px #078e00;
}

.logo {
  height: 24px;
  width: 24px;
  border-radius: 12px;
  background-color: #bff000;
}

.menu-check {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
}

.menu-check:checked ~ label .hamburguesa {
  display: none;
}

.menu-check:checked ~ label .closed,
.menu-check:checked ~ .menu {
  display: block;
}

.closed,
.menu {
  display: none;
}

.hamburguesa, .closed {
  font-size: 20px;
}

.menu {
  position: absolute;
  list-style-type: none;
  top: 60px;
  left: 0;
  background: #FF4000;
  width: 100%;
}
.menu a:hover {
  text-decoration: underline #fff 3px solid;
  transition: 0.2s ease-in-out;
  outline: 0;
}
.menu a:active {
  text-decoration: underline #1720F9 4px solid;
  transition: 0.4s ease-in-out;
  outline: 0px;
  border: 5px #bff000 solid;
}

.menu :is(a) {
  display: flex;
  color: #fff;
  font-family: "roboto", "sans serif";
  text-decoration: none;
  padding: 16px 0 24px 16px;
}

/*--------------
|    body       |
---------------*/
.main-bg {
  background-color: #bff000;
}

p {
  color: #fff;
  font-family: "roboto", "sans serif";
}

/*--------------
|    footer     |
---------------*/
.footer .container {
  width: 100%;
  height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1720F9;
  box-shadow: 0px -10px 50px #078e00;
}
.footer .container .box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0 20px 0;
}
.footer .container .box.icon-sect, .footer .container .box.rights {
  width: 300px;
}
.footer .container .box.icon-sect p {
  padding-bottom: 6px;
}
.footer .container .box.icon-sect .icons a {
  width: 20px;
  height: 20px;
  text-decoration: none;
  color: #fff;
  margin: 22px 9px;
}
.footer .container .box.icon-sect .icons a:hover {
  color: #FF4000;
}

/*--------------
|    header     |
---------------*/
@media (min-width: 1280px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 100px 0 100px;
    position: sticky;
    top: 0;
  }

  .hamburguesa, .menu-check:checked {
    display: none;
  }

  .logo {
    height: 36px;
    width: 36px;
    border-radius: 18px;
  }

  .menu {
    display: inline-flex;
    position: relative;
    top: -5px;
    left: auto;
    background: transparent;
    width: 100%;
  }
  .menu a:active {
    text-decoration: underline #FF4000 4px solid;
    transition: 0.4s ease-in-out;
    outline: 0;
    border: 0;
  }

  .menu :is(a) {
    display: inline-block;
    text-decoration: none;
    padding: 16px;
  }
}
/*--------------
|               |
---------------*/
/*--------------
|               |
---------------*/
/*--------------
|               |
---------------*/
/*--------------
|               |
---------------*/
/*--------------
|               |
---------------*/

/*# sourceMappingURL=index.css.map */
