* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/*--------------
|    body       |
---------------*/
html, body {
  overflow-x: hidden;
}

.main-bg {
  background-color: #1aff53;
}

p, h1, h2, h3, h4, h5, h6 {
  color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "bree serif", "sans serif";
}

p {
  font-family: "roboto", "sans serif";
}

/*--------------
|    header     |
---------------*/
.header {
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 16px 0 16px;
  background: #1a54ff;
  color: #fff;
  position: sticky;
  top: 0;
  margin-bottom: 29px;
  box-shadow: 0px 5px 50px #bff000;
}

.logo {
  height: 24px;
  width: 24px;
  border-radius: 12px;
  background-color: #1aff53;
}

.menu-check {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
}

.menu-check:checked ~ label .hamburguesa {
  display: none;
}

.menu-check:checked ~ label .closed,
.menu-check:checked ~ .menu {
  display: block;
  box-shadow: 0px 5px 20px #e63900;
}

.closed, .hamburguesa {
  box-shadow: none !important;
}

.closed,
.menu {
  display: none;
}

.hamburguesa, .closed {
  font-size: 20px;
}

.menu {
  position: absolute;
  list-style-type: none;
  top: 60px;
  left: 0;
  background: #ff531a;
  width: 100%;
}
.menu a:hover {
  text-decoration: underline #fff 3px solid;
  transition: 0.2s ease-in-out;
  outline: 0;
}
.menu a:active {
  text-decoration: underline #1a54ff 4px solid;
  transition: 0.4s ease-in-out;
  outline: 0px;
  border: 5px #1aff53 solid;
}

.menu :is(a) {
  display: flex;
  color: #fff;
  font-family: "roboto", "sans serif";
  font-size: 1.2rem;
  text-decoration: none;
  padding: 16px 0 24px 16px;
}

/*--------------
|   sections    |
---------------*/
.logo-sect {
  margin-top: 25em;
  margin-bottom: 10em;
}
.logo-sect .container {
  display: flex;
  justify-content: center;
}
.logo-sect .container .main-logo {
  width: 400px;
  height: 400px;
  background-color: #ff531a;
}

.description-sect {
  margin-bottom: 40rem;
  overflow-x: hidden;
}
.description-sect .container {
  margin: 0 4rem;
  padding-top: 4em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.description-sect .container .bg-blue {
  overflow: hidden;
  display: block;
  position: absolute;
  height: 100rem;
  width: 100%;
  background-color: #1a54ff;
  z-index: 0;
  left: 0px;
  border-radius: 60px;
  margin: 0;
}
.description-sect .container .box:nth-of-type(2) {
  padding-top: 8rem;
}
.description-sect .container .box {
  margin: 0 3rem;
  z-index: 1;
  position: relative;
  padding-top: 1em;
  padding-bottom: 2em;
  width: 100%;
  max-width: 1000px;
}
.description-sect .container .box .description h2 {
  text-align: center;
  font-size: 2rem;
  padding-bottom: 1rem;
}
.description-sect .container .box .description p {
  text-align: justify;
  font-size: 1.5rem;
}
.description-sect .container .box:nth-of-type(4) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 8rem;
  max-width: 1400px;
}
.description-sect .container .box:nth-of-type(4) .main-photo {
  width: 17rem;
  height: 17rem;
  border-radius: 8.5rem;
  background-color: #fff;
  margin-top: 3rem;
}

.course-sect .container .bg-orange-box {
  display: grid;
  grid-template-columns: 5% 90% 5%;
  grid-template-rows: 10rem 80% 10rem;
  width: 100%;
  height: 100%;
  min-height: 100rem;
  background-color: #ff531a;
  border-radius: 60px;
}
.course-sect .container .bg-orange-box .horizontal-box {
  width: 100%;
  grid-column: 2;
  grid-row: 1;
  border: #fff 4px solid;
}
.course-sect .container .bg-orange-box .horizontal-box:nth-of-type(2) {
  grid-row: 3;
}
.course-sect .container .bg-orange-box .vertical-box {
  grid-column: 3;
  grid-row: 2;
  border: #2f2f2f 4px solid;
}
.course-sect .container .bg-orange-box .vertical-box:nth-of-type(5) {
  grid-column: 1;
}
.course-sect .container .bg-orange-box .box {
  grid-column: 2;
  grid-row: 2;
}
.course-sect .container .bg-orange-box .box.course {
  border: #1a54ff 4px solid;
  height: 100%;
}

/*--------------
|    footer     |
---------------*/
.footer {
  z-index: 2;
  width: 100%;
  position: relative;
}
.footer .container {
  width: 100%;
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1a54ff;
  box-shadow: 0px -10px 50px #bff000;
}
.footer .container .box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0 20px 0;
}
.footer .container .box.icon-sect, .footer .container .box.rights {
  width: 300px;
}
.footer .container .box.icon-sect p {
  padding-bottom: 6px;
}
.footer .container .box.icon-sect .icons a {
  width: 20px;
  height: 20px;
  text-decoration: none;
  color: #fff;
  margin: 22px 9px;
}
.footer .container .box.icon-sect .icons a:hover {
  color: #ff531a;
}

/*--------------
|    header     |
---------------*/
@media (min-width: 1280px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 100px 0 100px;
    position: sticky;
    top: 0;
  }

  .hamburguesa, .menu-check:checked {
    display: none;
  }

  .logo {
    height: 36px;
    width: 36px;
    border-radius: 18px;
  }

  .menu {
    display: inline-flex;
    position: relative;
    top: -5px;
    left: auto;
    background: transparent;
    width: 100%;
  }
  .menu a:active {
    text-decoration: underline #ff531a 4px solid;
    transition: 0.4s ease-in-out;
    outline: 0;
    border: 0;
  }

  .menu :is(a) {
    display: inline-block;
    text-decoration: none;
    padding: 16px;
  }
}
/*--------------
|   sections    |
---------------*/
@media (min-width: 10px) {
  .description-sect .container {
    margin: 0 2rem;
  }
  .description-sect .container .bg-blue {
    height: 120rem;
    transform: rotate(0);
  }
}
@media (min-width: 440px) {
  .description-sect .container {
    margin: 0 3rem;
  }
  .description-sect .container .bg-blue {
    height: 95rem;
    transform: rotate(0);
  }
}
@media (min-width: 1280px) {
  .description-sect .container .bg-blue {
    height: 80rem;
    transform: rotate(-5deg);
  }
  .description-sect .container .box:nth-of-type(4) {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
  }
  .description-sect .container .box:nth-of-type(4) .description {
    width: 30rem;
  }
  .description-sect .container .box:nth-of-type(4) .main-photo {
    align-items: center;
    margin-top: 0;
    margin-right: 10rem;
    width: 24rem;
    height: 24rem;
    border-radius: 12rem;
  }
}
/*--------------
|               |
---------------*/
/*--------------
|               |
---------------*/
/*--------------
|               |
---------------*/
/*--------------
|               |
---------------*/
/*--------------
|               |
---------------*/

/*# sourceMappingURL=index.css.map */
